c_stdlib_version:  # [osx and x86_64]
  - 10.15          # [osx and x86_64]

MACOSX_SDK_VERSION:         # [osx]
  - 13.3                    # [osx]

# Needs higher stdlib for CUDNN9
# CUDA 12 on aarch needs newer glibc, which requires us to override
# the whole monster zip just to bump c_stdlib_version / docker_image
c_stdlib_version:                                   # [linux and aarch64]
  - 2.17                                            # [linux and aarch64]
  - 2.17                                            # [linux and aarch64]
  - 2.28                                            # [linux and aarch64]
  - 2.28                                            # [linux and aarch64]
docker_image:                                       # [linux and aarch64]
  - quay.io/condaforge/linux-anvil-cos7-x86_64      # [linux and aarch64]
  - quay.io/condaforge/linux-anvil-cuda:11.8        # [linux and aarch64]
  - quay.io/condaforge/linux-anvil-alma-x86_64:8    # [linux and aarch64]
  - quay.io/condaforge/linux-anvil-alma-x86_64:8    # [linux and aarch64]
# rest just to make smithy happy
c_compiler_version:                                 # [linux and aarch64]
  - 13                                              # [linux and aarch64]
  - 11                                              # [linux and aarch64]
  - 12                                              # [linux and aarch64]
  - 12                                              # [linux and aarch64]
cxx_compiler_version:                               # [linux and aarch64]
  - 13                                              # [linux and aarch64]
  - 11                                              # [linux and aarch64]
  - 12                                              # [linux and aarch64]
  - 12                                              # [linux and aarch64]
fortran_compiler_version:                           # [linux and aarch64]
  - 13                                              # [linux and aarch64]
  - 11                                              # [linux and aarch64]
  - 12                                              # [linux and aarch64]
  - 12                                              # [linux and aarch64]
cdt_name:                                           # [linux and aarch64]
  - cos7                                            # [linux and aarch64]
  - cos7                                            # [linux and aarch64]
  - cos7                                            # [linux and aarch64]
  - cos7                                            # [linux and aarch64]
cuda_compiler:                                      # [linux and aarch64]
  - None                                            # [linux and aarch64]
  - nvcc                                            # [linux and aarch64]
  - cuda-nvcc                                       # [linux and aarch64]
  - cuda-nvcc                                       # [linux and aarch64]
cuda_compiler_version:                              # [linux and aarch64]
  - None                                            # [linux and aarch64]
  - 11.8                                            # [linux and aarch64]
  - 12.0                                            # [linux and aarch64]
  - 12.6                                            # [linux and aarch64]
# end override of monster zip

c_stdlib_version:                                   # [linux64]
  - 2.17                                            # [linux64]
  - 2.17                                            # [linux64]
  - 2.17                                            # [linux64]
  - 2.28                                            # [linux64]
docker_image:                                       # [linux64]
  - quay.io/condaforge/linux-anvil-cos7-x86_64      # [linux64]
  - quay.io/condaforge/linux-anvil-cuda:11.8        # [linux64]
  - quay.io/condaforge/linux-anvil-cos7-x86_64      # [linux64]
  - quay.io/condaforge/linux-anvil-alma-x86_64:8    # [linux64]
# rest just to make smithy happy
c_compiler_version:                                 # [linux64]
  - 13                                              # [linux64]
  - 11                                              # [linux64]
  - 12                                              # [linux64]
  - 12                                              # [linux64]
cxx_compiler_version:                               # [linux64]
  - 13                                              # [linux64]
  - 11                                              # [linux64]
  - 12                                              # [linux64]
  - 12                                              # [linux64]
fortran_compiler_version:                           # [linux64]
  - 13                                              # [linux64]
  - 11                                              # [linux64]
  - 12                                              # [linux64]
  - 12                                              # [linux64]
cdt_name:                                           # [linux64]
  - cos7                                            # [linux64]
  - cos7                                            # [linux64]
  - cos7                                            # [linux64]
  - cos7                                            # [linux64]
cuda_compiler:                                      # [linux64]
  - None                                            # [linux64]
  - nvcc                                            # [linux64]
  - cuda-nvcc                                       # [linux64]
  - cuda-nvcc                                       # [linux64]
cuda_compiler_version:                              # [linux64]
  - None                                            # [linux64]
  - 11.8                                            # [linux64]
  - 12.0                                            # [linux64]
  - 12.6                                            # [linux64]

blas_impl:
  - mkl                         # [x86_64]
  - generic

# https://github.com/conda-forge/.cirun
github_actions_labels:          # [linux]
- cirun-openstack-gpu-2xlarge   # [linux]

megabuild:
- true      # [linux]
- false     # [osx]
