# problem with GCC 14 in vendored xnnpack
c_compiler_version:     # [aarch64]
  - 13                  # [aarch64]
  - 13                  # [aarch64]
cxx_compiler_version:   # [aarch64]
  - 13                  # [aarch64]
  - 13                  # [aarch64]

MACOSX_SDK_VERSION:         # [osx]
  - 14.5                    # [osx]

channel_targets:
  - conda-forge main
  - conda-forge pytorch_rc
is_rc:
  - False
  - True
zip_keys:
  -
    - channel_targets
    - is_rc

blas_impl:
  - mkl                         # [x86_64]
  # deprioritized on windows, would be nice to have
  - generic                     # [unix]

# https://github.com/conda-forge/.cirun
github_actions_labels:
- ghcr.io/cirruslabs/ubuntu-runner-amd64:24.04-xl   # [linux64]
- ghcr.io/cirruslabs/ubuntu-runner-arm64:24.04      # [linux and aarch64]
- ghcr.io/cirruslabs/ubuntu-runner-amd64-gpu:24.04  # [linux]
- ghcr.io/cirruslabs/macos-runner:tahoe-xl          # [osx]
- cirun-azure-windows-4xlarge                       # [win]
