# See following link for c_stdlib sysroot constraint addition
# https://github.com/conda-forge/pytorch-cpu-feedstock/pull/293#issuecomment-2503611320
# 2024/12 hmaarrfk's summary:
#   The medium term solution is to add such a constraint to libcufile
#   The long term solution is to add such a constraint to all packages
#   that depend on a specific sysroot at building.
c_stdlib_version:  # [unix]
  - 2.28           # [linux and aarch64]
  - 10.15          # [osx and x86_64]

MACOSX_SDK_VERSION:         # [osx]
  - 13.3                    # [osx]

blas_impl:
  - mkl                         # [x86_64]
  - generic

# https://github.com/conda-forge/.cirun
github_actions_labels:          # [linux]
- cirun-openstack-gpu-2xlarge   # [linux]

megabuild:
- true      # [linux]
- false     # [osx]

use_magma:
- true
- false
