# problem with GCC 14 in vendored xnnpack
c_compiler_version:     # [aarch64]
  - 13                  # [aarch64]
  - 13                  # [aarch64]
cxx_compiler_version:   # [aarch64]
  - 13                  # [aarch64]
  - 13                  # [aarch64]

MACOSX_SDK_VERSION:         # [osx]
  - 13.3                    # [osx]

channel_targets:
  - conda-forge main
  - conda-forge pytorch_rc
is_rc:
  - False
  - True
zip_keys:
  -
    - channel_targets
    - is_rc

blas_impl:
  - mkl                         # [x86_64]
  # deprioritized on windows, would be nice to have
  - generic                     # [unix]

# https://github.com/conda-forge/.cirun
github_actions_labels:
- cirun-openstack-cpu-xlarge    # [linux]
- cirun-openstack-gpu-2xlarge   # [linux]
- cirun-macos-m4-large          # [osx]
- cirun-azure-windows-4xlarge   # [win]

is_python_min:
- true

python:
- 3.13.* *_cp313
