# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.
# -*- mode: yaml -*-

name: Build conda package
on:
  push:

  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.CONFIG }}
    runs-on: ${{ matrix.runs_on }}
    timeout-minutes: 900
    strategy:
      fail-fast: false
      matrix:
        include:
          - CONFIG: linux_64_blas_implgenericc_compiler_version13channel_targetsconda-forge_pytorch_rccuda_compilerNonecuda_compiler_versionNonecxx_compiler_version13is_rcTrue
            UPLOAD_PACKAGES: True
            os: ubuntu
            runs_on: ['cirun-openstack-gpu-2xlarge--${{ github.run_id }}-linux_64_blas_implgenericc_compiler_hfd3c9e418e', 'linux', 'x64', 'self-hosted']
            DOCKER_IMAGE: quay.io/condaforge/linux-anvil-x86_64:alma9
            CONDA_FORGE_DOCKER_RUN_ARGS: "--gpus all"
          - CONFIG: linux_64_blas_implgenericc_compiler_version13channel_targetsconda-forge_pytorch_rccuda_compilercuda-nvcccuda_compiler_version12.6cxx_compiler_version13is_rcTrue
            UPLOAD_PACKAGES: True
            os: ubuntu
            runs_on: ['cirun-openstack-gpu-2xlarge--${{ github.run_id }}-linux_64_blas_implgenericc_compiler_h3d69e44d93', 'linux', 'x64', 'self-hosted']
            DOCKER_IMAGE: quay.io/condaforge/linux-anvil-x86_64:alma9
            CONDA_FORGE_DOCKER_RUN_ARGS: "--gpus all"
          - CONFIG: linux_64_blas_implmklc_compiler_version13channel_targetsconda-forge_pytorch_rccuda_compilerNonecuda_compiler_versionNonecxx_compiler_version13is_rcTrue
            UPLOAD_PACKAGES: True
            os: ubuntu
            runs_on: ['cirun-openstack-gpu-2xlarge--${{ github.run_id }}-linux_64_blas_implmklc_compiler_ver_hbf2b41cf9b', 'linux', 'x64', 'self-hosted']
            DOCKER_IMAGE: quay.io/condaforge/linux-anvil-x86_64:alma9
            CONDA_FORGE_DOCKER_RUN_ARGS: "--gpus all"
          - CONFIG: linux_64_blas_implmklc_compiler_version13channel_targetsconda-forge_pytorch_rccuda_compilercuda-nvcccuda_compiler_version12.6cxx_compiler_version13is_rcTrue
            UPLOAD_PACKAGES: True
            os: ubuntu
            runs_on: ['cirun-openstack-gpu-2xlarge--${{ github.run_id }}-linux_64_blas_implmklc_compiler_ver_hbac2c29721', 'linux', 'x64', 'self-hosted']
            DOCKER_IMAGE: quay.io/condaforge/linux-anvil-x86_64:alma9
            CONDA_FORGE_DOCKER_RUN_ARGS: "--gpus all"
          - CONFIG: linux_aarch64_c_compiler_version13channel_targetsconda-forge_pytorch_rccuda_compilerNonecuda_compiler_versionNonecxx_compiler_version13is_rcTrue
            UPLOAD_PACKAGES: True
            os: ubuntu
            runs_on: ['cirun-openstack-gpu-2xlarge--${{ github.run_id }}-linux_aarch64_c_compiler_version13c_h20ac0d977f', 'linux', 'x64', 'self-hosted']
            DOCKER_IMAGE: quay.io/condaforge/linux-anvil-x86_64:alma9
            CONDA_FORGE_DOCKER_RUN_ARGS: "--gpus all"
          - CONFIG: linux_aarch64_c_compiler_version13channel_targetsconda-forge_pytorch_rccuda_compilercuda-nvcccuda_compiler_version12.6cxx_compiler_version13is_rcTrue
            UPLOAD_PACKAGES: True
            os: ubuntu
            runs_on: ['cirun-openstack-gpu-2xlarge--${{ github.run_id }}-linux_aarch64_c_compiler_version13c_hc16130462f', 'linux', 'x64', 'self-hosted']
            DOCKER_IMAGE: quay.io/condaforge/linux-anvil-x86_64:alma9
            CONDA_FORGE_DOCKER_RUN_ARGS: "--gpus all"
          - CONFIG: win_64_channel_targetsconda-forge_pytorch_rccuda_compilerNonecuda_compiler_versionNoneis_rcTrue
            UPLOAD_PACKAGES: True
            os: windows
            runs_on: ['cirun-azure-windows-2xlarge--${{ github.run_id }}-win_64_channel_targetsconda-forge_p_h4ffee7b9ab', 'windows', 'x64', 'self-hosted']
          - CONFIG: win_64_channel_targetsconda-forge_pytorch_rccuda_compilercuda-nvcccuda_compiler_version12.6is_rcTrue
            UPLOAD_PACKAGES: True
            os: windows
            runs_on: ['cirun-azure-windows-2xlarge--${{ github.run_id }}-win_64_channel_targetsconda-forge_p_hc6d99508db', 'windows', 'x64', 'self-hosted']
    steps:

    - name: Checkout code
      uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4

    - name: Build on Linux
      if: matrix.os == 'ubuntu'
      env:
        CONFIG: ${{ matrix.CONFIG }}
        UPLOAD_PACKAGES: ${{ matrix.UPLOAD_PACKAGES }}
        DOCKER_IMAGE: ${{ matrix.DOCKER_IMAGE }}
        CI: github_actions
        CONDA_FORGE_DOCKER_RUN_ARGS: "${{ matrix.CONDA_FORGE_DOCKER_RUN_ARGS }}"
        BINSTAR_TOKEN: ${{ secrets.BINSTAR_TOKEN }}
        FEEDSTOCK_TOKEN: ${{ secrets.FEEDSTOCK_TOKEN }}
        STAGING_BINSTAR_TOKEN: ${{ secrets.STAGING_BINSTAR_TOKEN }}
      shell: bash
      run: |
        echo "::group::Configure binfmt_misc"
        docker run --rm --privileged multiarch/qemu-user-static:register --reset --credential yes
        export flow_run_id="github_$GITHUB_RUN_ID"
        export remote_url="https://github.com/$GITHUB_REPOSITORY"
        export sha="$GITHUB_SHA"
        export FEEDSTOCK_NAME="$(basename $GITHUB_REPOSITORY)"
        export GIT_BRANCH="$(basename $GITHUB_REF)"
        if [[ "${GITHUB_EVENT_NAME}" == "pull_request" ]]; then
          export IS_PR_BUILD="True"
        else
          export IS_PR_BUILD="False"
        fi
        echo "::endgroup::"
        ./.scripts/run_docker_build.sh

    - name: Build on macOS
      if: matrix.os == 'macos'
      env:
        CONFIG: ${{ matrix.CONFIG }}
        UPLOAD_PACKAGES: ${{ matrix.UPLOAD_PACKAGES }}
        CI: github_actions
        BINSTAR_TOKEN: ${{ secrets.BINSTAR_TOKEN }}
        FEEDSTOCK_TOKEN: ${{ secrets.FEEDSTOCK_TOKEN }}
        STAGING_BINSTAR_TOKEN: ${{ secrets.STAGING_BINSTAR_TOKEN }}
      shell: bash
      run: |
        export flow_run_id="github_$GITHUB_RUN_ID"
        export remote_url="https://github.com/$GITHUB_REPOSITORY"
        export sha="$GITHUB_SHA"
        export FEEDSTOCK_NAME="$(basename $GITHUB_REPOSITORY)"
        export GIT_BRANCH="$(basename $GITHUB_REF)"
        if [[ "${GITHUB_EVENT_NAME}" == "pull_request" ]]; then
          export IS_PR_BUILD="True"
        else
          export IS_PR_BUILD="False"
        fi
        ./.scripts/run_osx_build.sh

    - name: Build on windows
      shell: cmd
      run: |
        set "flow_run_id=github_%GITHUB_RUN_ID%"
        set "remote_url=https://github.com/%GITHUB_REPOSITORY%"
        set "sha=%GITHUB_SHA%"
        call ".scripts\run_win_build.bat"
      env:
        MINIFORGE_HOME: D:\Miniforge
        PYTHONUNBUFFERED: 1
        CONFIG: ${{ matrix.CONFIG }}
        CI: github_actions
        UPLOAD_PACKAGES: ${{ matrix.UPLOAD_PACKAGES }}
        BINSTAR_TOKEN: ${{ secrets.BINSTAR_TOKEN }}
        FEEDSTOCK_TOKEN: ${{ secrets.FEEDSTOCK_TOKEN }}
        STAGING_BINSTAR_TOKEN: ${{ secrets.STAGING_BINSTAR_TOKEN }}
      if: matrix.os == 'windows'